.orden{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: space-around;
}


.tituloOrden {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 2%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
}

.caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
}
select {
    background: transparent;
    border: none;
    font-size: 14px;
    color: #d9d9d9;
    height: 30px;
    padding: 5px;
    width: 250px;
}
select:focus{ outline: none;}

.caja::after{
    content:"\025be";
    display:table-cell;
    padding-top:7px;
    text-align:center;
    width:30px;
    height:30px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;	
    pointer-events: none;
}