.botonPrevio {
    width: 10%;
    height: 25px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
    color: #800107dc;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
}

.botonPrevio:hover {
    background-color: white;
    color: rgba(145, 3, 69, 0.781);
    transition: 0.5s;
}

.botonPrevio:active {
    transform: translateY(10%);
}

.botonSiguiente {
    width: 10%;
    height: 25px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
    color: #052b94c9;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
}

.botonSiguiente:hover {
    background-color: white;
    color: rgba(6, 19, 134, 0.829);
    transition: 0.5s;
}

.botonSiguiente:active {
    transform: translateY(10%);
}