.card{
    width: 250px;
    height: 300px;
    border: 2px solid black;

    display: inline-block;
    background-color: rgba(8, 8, 0, 0.733);
    border-radius: 18px;
    box-shadow: 10px 10px 5px 5px rgba(26, 19, 19, 0.418);
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10%);
}

.imagen{
    height: 150px;
    width: 230px;
}

.generos{
    display: inline-block;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}