.organizar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: space-around;
    height: 150px;
    /* top: auto; */
    background-color: rgba(3, 45, 80, 0.87);
}

.barra1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: space-around;
    height: 55px;
}

.barra2 {
    display: flex;
    top: auto;
    /* justify-content: center;
    background-color: rgba(3, 45, 80, 0.87);
    background-attachment: fixed;
    height: 75px; */
}

.titulo {
    width: 50%;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    font-size: x-large;
    color: #126669;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.botonCreate {
    width: 10%;
    height: 25px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
    color: #389b0adc;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
}

.botonCreate:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.botonCreate:active {
    transform: translateY(10%);
}

.botonHome {
    width: 10%;
    height: 25px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
    color: #c4930cdc;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
}

.botonHome:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.botonHome:active {
    transform: translateY(10%);
}