.fixed{
    background-color: cornsilk;
    position: fixed;
    top: 0.1%;
    display: inline-block;
    left: 0;
    right: 0;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100px;
}